/* App.css */

.container {
  margin-top: 50px;
}

.row-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 30px;
}

.input-group .form-control {
  border-radius: 0.5rem;
}

.input-group .btn {
  margin-left: 10px;
  border-radius: 0.5rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

.list-group-item .btn {
  margin-right: 10px;
}

.list-group-item .btn:last-child {
  margin-right: 0;
}
